<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>La Croix Fishing Trip</title>
    <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="data:,">
  </head>
  <body>
    
    <div class="app">
      <a class="nav" href="/">Home</a>
      <h1 class="title">Welcome to the Fishing Trip</h1>
      <p> sponsored by La Croix</p>
      <div class="app">
      
        {{!-- <img src="/public/Images/Ocean.png"> --}}

      </div>
      {{{body}}}
    </div>
  </body>
</html>
