<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>La Croix Fishing Trip</title>
    <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="data:,">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <div class="app">
      <a class="nav" href="/">Time to go home ⛵</a>
     
      <div class="app">
      
       

      </div>

      {{!-- <img src="/public/Images/Ocean.png" alt="" id="imgsize"> --}}
      {{{body}}}

      {{!-- {{>footer}} --}}
    </div>
  </body>
</html>
