<<<<<<< HEAD
=======






>>>>>>> 876a04e8423aa74b776c7815f8fdb50be8786774
<div class="container-game-board">



  <table>
      <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      </tr>
      <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      </tr>
      <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      </tr>
      <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      </tr>
      <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      </tr>
    </table>


</div>

<<<<<<< HEAD
	<script src="/game.js"></script>
=======
{{!-- script file --}}
>>>>>>> 876a04e8423aa74b776c7815f8fdb50be8786774
