

 <h1 class="title">Welcome to the Fishing Trip</h1>
      <p class="title" id="h2"> sponsored by La Croix</p>

<div class="container">

  <div class="">
    <a href="/location/">
    <img class="img" src="/Images/home-img.png" id="imgsize" alt={{name}}>
    </a>
    {{!-- <a href="/location/"><img class="img-circle" src="{{image}}" alt={{name}}></a> --}}
  </div>

</div>
