
<div class="container">

  <div class="">
    <a href="/location/"><img class="img-circle" src="/Ocean.png" alt={{name}}></a>
    {{!-- <a href="/location/"><img class="img-circle" src="{{image}}" alt={{name}}></a> --}}
  </div>

</div>
